.git
.gitignore
__pycache__
**/__pycache__
*.pyc
.pytest_cache
.mypy_cache
.ruff_cache
# .env
.env.*
!.env.example
.venv
venv
env
# app/helpers/logs
**/*.log
.coverage
htmlcov
*.md
app/tests
scripts
fix_alembic.py
run_migration.py
check_fk.py
